Source: pve-mod
Section: misc
Priority: optional
Maintainer: Meliox <meliox@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/Meliox/PVE-mods

Package: pve-mod
Architecture: all
Depends: ${misc:Depends}, perl, librrds-perl, patch
Recommends:
Suggests: intel-gpu-tools, lm-sensors, upsc, nvidia-smi
Description: Proxmox VE UI modifications
 Extends the Proxmox VE web interface with various information.
 See respective mods for more information
 After installation, run: pve-mod-configure
